@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Tailwind directives ที่ถูกต้อง */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* สีและตัวแปร */
:root {
  --background: #543310;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #543310;
    --foreground: black;
  }
}
html, body {
  @apply m-0 p-0 h-full;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Kanit';
}
.nav-item {
  position: relative;
  margin: 0.5rem 1rem;
  padding: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.5rem; /* ระยะห่างจากข้อความ */
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 60%;
  height: 2px;
  background-color: #543310;
  transition: transform 0.3s ease;
  border-radius: 9999px;
}

.nav-item:hover::after {
  transform: translateX(-50%) scaleX(1);
}